<title>
	{{#config.details.title}}&mdash; {{{config.details.title}}}{{/config.details.title}}{{^config.details.title}}&mdash; Probiotic
	Rituals{{/config.details.title}}
</title>
<meta charset="utf-8" />
<meta
	name="description"
	content="{{#config.details.description}}{{{config.details.description}}}{{/config.details.description}}{{^config.details.description}}I am Frankia - a bacteria that lives in symbiosis with trees.{{/config.details.description}}"
/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/assets/fav/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png" />
<link rel="icon" href="/assets/fav/favicon.ico" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://probiotic-rituals.com" />
<meta property="og:title" content="{{{config.details.title}}}" />
<meta property="og:description" content="{{{config.details.description}}}" />
<meta property="og:image" content="https://probiotic-rituals.com/assets/meta/meta.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://probiotic-rituals.com" />
<meta property="twitter:title" content="{{{config.details.title}}}" />
<meta property="twitter:description" content="{{{config.details.description}}}" />
<meta property="twitter:image" content="https://probiotic-rituals.com/assets/meta/meta.png" />

<link rel="stylesheet" href="/stylesheets/css/egg.css" />

<script src="/js/ours/loading.min.js"></script>
<script src="/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/js/ours/probio.js"></script>
