<title>{{#title}}&mdash; {{title}} {{/title}}</title>
<meta charset="utf-8" />
<meta name="description" content="Probiotic Rituals" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/assets/fav/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png" />
<link rel="icon" href="/assets/fav/favicon.ico" />

<link rel="stylesheet" href="/stylesheets/css/egg.css" />

<script src="/js/ours/loading.min.js"></script>
<script src="/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/js/ours/probio.js"></script>
