<div id="container" class="t1">
	<div class="to-the-left">
		<a class="" href="https://docs.google.com/spreadsheets/d/18Tndhbzq83tJqJCo7G2k0yBnwUlfGVxsey9D82r_hdo/edit?usp=sharing" target="_blank">
			Data <span class="t2 super">CSV</span>
		</a>
	</div>
	<div class="cables"> </div>
	<div class="to-the-right">
		<div class="arena-channel">
			{{# arena }}
			<section class="arena-block" id="section_{{ id }}">
				<div class="arena-block-metadata">
					{{# description_html }}<span class="description"><br />{{{ description_html }}}</span>{{/ description_html }}{{# content_html }}
					<h2 class="t2">{{ title }}</h2><span class="monogamy">{{{ content_html }}}</span>{{/ content_html }} {{# metadata }}<span
						class="description"
						id="metadata_{{id}}"
						><br /><mark-down breaks>{{{ description }}}</mark-down></span
					>{{/ metadata }}
				</div>
				{{# embed }}
				<div id="embed-block_{{ id }}" class="embed-block">
					<br />
					{{{ html }}}
				</div>
				{{/ embed }} {{^ embed }} {{# source }} {{# url }}<br /><a href="{{ url }}">{{ url }}</a>{{/ url }} {{# image }}
				<br />
				<div class="url-block">
					<img id="url-block-image_{{ id }}" class="url-block-image" src="{{# display }}{{{ url }}}{{/ display }}" />
				</div>
				{{/ image }} {{/ source }} {{^ source }} {{# attachment }}
				<br />
				<div id="video-block_{{ id }}" class="video-block">
					<video id="video-block-attachment_{{ id }}" class="video-block-attachment" loop controls playsinline autoplay muted preload="auto">
						<source src="{{{ static_url }}}{{ file_name }}" type="{{{ content_type }}}" />
					</video>
				</div>
				{{/ attachment }} {{# image }}
				<br />
				<div class="image-block">
					<img id="image-block-image_{{ id }}" class="image-block-image" src="{{# display }}{{{ url }}}{{/ display }}" />
				</div>
				{{/ image }} {{/ source }} {{/ embed }}
			</section>
			{{/ arena }}
		</div>
		<br />
	</div>
</div>
<div id="show-hide">🦠</div>
