@import "base/defaults";

$type-baseline: 17px; // set baseline aka = 1rem

@import "base/type";
@import "base/utilities";

::selection {
	background-color: $background-color;
}
// ::-webkit-scrollbar { display: none; }

// prime+defaults

a {
	text-decoration: none;
	cursor: alias;
	color: $color-1;
}

body {
	background-color: $background-color;
	margin: 0;
	color: $color-1;
}

// prime+defaults end

// 🥚 ⤵️️

@import "loading";
@import "nav";

// responsive medium
@media (max-width: 1000px) {
	@import "responsive/mid";
}

// responsive small (overrides medium)
@media (max-width: 640px) {
	@import "responsive/small";
}

// mobile devices (overrides everything)
@media only screen and (min-device-width: 320px) and (max-device-width: 829px) and (-webkit-min-device-pixel-ratio: 2) {
	@import "responsive/small";
	@import "responsive/mobile";
}

// 🥚 ⤴️
