div#show-hide {
	position: fixed;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	background-color: transparent;
}

#container {
	display: flex;
}

.to-the-left,
.to-the-right {
	font-size: 1em;
}

.to-the-left {
	position: fixed;
	left: 10px;
	bottom: 10px;
}

.to-the-right {
	position: absolute;
	width: 25%;
	right: 10px;
}

#glcanvas {
	position: fixed;
	z-index: -1;
}

h2 {
	font-family: $type-2;
	@include type;
	font-size: 2.5em;
	font-weight: 1;
	// line-height: 0.8em;
}

.arena-block,
h2 {
	margin-bottom: 0.5em;
}

.arena-block {
	margin-top: 2.5em;
	margin-bottom: 1em;
}

.arena-block:first-of-type {
	margin-top: 2vh;
}

.csv-link {
	font-size: 1.25em;
}

.monogamy p em {
	@include type-1i;
}
