html,
body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: $type-baseline;
}

@font-face {
	font-family: lunchtype-22r;
	src: url("/fonts/lunchtype22-regular-webfont.woff") format("woff");
	src: url("/fonts/lunchtype22-regular-webfont.woff2") format("woff2");
}

@font-face {
	font-family: classified;
	src: url("/fonts/AUTHENTIC-Classified.woff") format("woff");
	src: url("/fonts/AUTHENTIC-Classified.otf") format("opentype");
}

@mixin kern {
	-moz-font-feature-settings: "kern" 1, "dlig" 1;
	-ms-font-feature-settings: "kern" 1, "dlig" 1;
	-o-font-feature-settings: "kern" 1, "dlig" 1;
	-webkit-font-feature-settings: "kern" 1, "dlig" 1;
	font-feature-settings: "kern" 1, "dlig" 1;
	font-kerning: normal;
}

@mixin wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

@mixin hyphen {
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@mixin type {
	@include kern;
	@include wrap;
	// @include hyphen;
}

$type-size-1: 1em;
$line-height-1: 1.2em;

$type-1: "lunchtype-22r", lunchtype-22r, sans-serif;
$type-2: "classified", classified, sans-serif;

@mixin type-1 {
	font-family: $type-1;
	@include type;
}

@mixin type-2 {
	font-family: $type-2;
	line-height: 0.65em;
	@include type;
}

.t1 {
	@include type-1;
}

.t2 {
	@include type-2;
}
