.oh-christ-i-just-wanted-you-to-like-my-instagram-posts-and-then-i-became-greedy-i-wanted-you-to-lov {
	width: calc(100vw - 2rem);
	height: auto;
	font-size: 3rem;
	padding: 1rem;
}

.gh-link {
	position: fixed;
	bottom: 1.75rem;
	right: 1.75rem;
}
