.nav-home img {
	width: 4rem;
	height: auto;
}

.oh-christ-i-just-wanted-you-to-like-my-instagram-posts-and-then-i-became-greedy-i-wanted-you-to-lov {
	width: calc(100vw - 2rem);
	height: auto;
	font-size: 2.5rem;
	padding: 1rem;
	@include hyphen;
}
